/* Base */
body {
  line-height: 1.7;
  color: rgb(255, 255, 255);
  font-weight: 300;
  background-color: rgb(41, 41, 41);
  font-size: 1rem; }
::-moz-selection {
  background: #000;
  color: #fff; }

::selection {
  background: #000;
  color: #fff; }
a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    text-decoration: none; }



.site-blocks-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-position: center center; }
  .site-blocks-cover.overlay {
    position: relative; }
    .site-blocks-cover.overlay:before {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
       }
  
  .site-blocks-cover, .site-blocks-cover .row {
    min-height: 300px;
    height: calc(100vh - 73px); }
  .site-blocks-cover.inner-page-cover, .site-blocks-cover.inner-page-cover .row {
    min-height: 300px;
    height: calc(30vh); }
  .site-blocks-cover h2, .site-blocks-cover h3, .site-blocks-cover h4, .site-blocks-cover h5 {
    color: #fff; }
  .site-blocks-cover h1 {
    font-size: 1.5rem;
    font-weight: 900;
    color: #fff; }
    @media (min-width: 768px) {
      .site-blocks-cover h1 {
        font-size: 3rem; } }
  .site-blocks-cover p {
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.5; }
  .site-blocks-cover .intro-text {
    font-size: 16px;
    line-height: 1.5; }
  @media (max-width: 991.98px) {
    .site-blocks-cover .display-1 {
      font-size: 3rem; } }


.site-block-profile-pic {
  margin-top: -100px;
  position: relative;
  z-index: 99;
  text-align: center; }

.site-block-profile-pic img {
  border-radius: 50%;
  border: 2px solid #ddd;
  max-width: 200px; }

 
