/*! Place your custom styles here */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d3d3d3; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #023f49; 
}

.text-white {
  color: white;
}
.cover {

 background-attachment: fixed;
 background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
}

.cover.inner-page-cover, .cover.inner-page-cover {
  min-height: 300px;
  height: calc(30vh);
}


.profile-avatar .avatar-img {
  margin-top: -100px;
  position: relative;
  z-index: 99;
  text-align: center;
}

.profile-avatar img {
    border-radius: 50%;
    border-bottom: 2px solid #839296;
    border-left: 1px solid #839296;
    border-right: 1px solid #839296;
    max-width: 200px;
}

.card {
  background-color: #343434;
}






